<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782712513524-s2l3jue80cqqtlk1vjh9o7itjvorajrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782712513524-s2l3jue80cqqtlk1vjh9o7itjvorajrc</string>
	<key>API_KEY</key>
	<string>AIzaSyB0gHE_2UcPvhZPm6v1K9GBcXvhzPbFW-Q</string>
	<key>GCM_SENDER_ID</key>
	<string>782712513524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.pulseque.leomobile</string>
	<key>PROJECT_ID</key>
	<string>leo-mobile-308c0</string>
	<key>STORAGE_BUCKET</key>
	<string>leo-mobile-308c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782712513524:ios:d86cbcbbc26af24aea4fa1</string>
	<key>DATABASE_URL</key>
	<string>https://leo-mobile-308c0.firebaseio.com</string>
</dict>
</plist>